:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-layout {
  display: flex;
  flex: 1;
}

.admin-container {
  width: 100%;
  height: 100%;
}

.admin-drawer {
  width: 250px !important;
}

.admin-content {
  padding: 16px;
}